node_modules
dist
.env
package-lock.json
authorizer_example.py
*.zip
pnpm-lock.yaml
pyAuthorizer.yaml
portfolioproject-57fd8-firebase-adminsdk-3a4wf-9aba14a196.json
.vscode/PythonImportHelper-v2-Completion.json
src/getJWT.ts
src/listUsers.ts
src/testing.ts